/* Header.css */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    top: 0; /* 상단에 고정 */
    left: 0;
}
/* 자식: 실제 내용(로고, 메뉴, 아이콘) 배치 */
.header_container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 17px 0;
}
/* 로고 영역 */
.header__logo img {
    height: 44px; /* 로고 높이 예시 */
}
/* 네비게이션 */
.header__nav {
    display: flex;
    gap: 1.5rem; /* 링크 간격 */
}

.header__nav a {
    text-decoration: none; /* 밑줄 제거 */
}
.header__nav p {
    font-family: 'Inter', sans-serif;
    font-weight: regular;
    font-size: 22px;
    color: #e0e0e0;
}

.header__nav p:hover {
    color: #46ff8a; /* 마우스 올렸을 때 색상 예시 */
}
.header__icons {
    display: flex;
    gap: 1rem;
}

.header__icons .MuiSvgIcon-root {
    color: #e0e0e0;
    font-size: 30px;
    cursor: pointer;
}
.header__icons .MuiSvgIcon-root:hover {
    color: #46ff8a;
}
